
<h2>Some of your products</h2>

<% if @products.blank? %>

  <em class="note">There are no products in your store.</em>

<% else %>

        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Type</th>
              <th>Vendor</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>

          <% @products.each do |product| %>
      
            <tr>
              <td><%= link_to product.title, :controller => "products", :action => "show", :id => product %></td>
              <td><%= product.product_type %></td>
              <td><%= product.vendor %></td>
              <td><%= product.price_range %> <%= current_shop.shop.currency %></td>
            </tr>
         
          <% end %>
          
          </tbody>
        </table>

<% end %>
