			<tr style="display:none;">

              <td><%= @names[@sale.product].title %></td>
              <td><%= @names[@sale.variant].title %></td>
              <td><%= !@sale.start.nil? ? @sale.start.to_formatted_s(:long_with_time) : nil %></td>
              <td><%= !@sale.end.nil? ? @sale.end.to_formatted_s(:long_with_time) : nil %></td>
              <td><%= number_to_currency(@sale.price, :unit => "$") %></td>
              <td><a href="#" class="small white button radius editbutton">Edit</a></td>
              <td><%= link_to "Delete", sale_path(@sale), :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => "small white button radius deletebutton" %></td>
            </tr>